<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jhta.mybatis.mapper.AbailityReviewMapper">
  
	  <select id="abailityReview" resultType="abailityreview" parameterType="hashmap">
	 
	  select p.p_num,g.g_num from pay p left join orders o on p.o_num = o.o_num, basketlist bk,gcs gcs,goods g where o.o_num = bk.o_num and bk.gcs_num = gcs.gcs_num and gcs.g_num = g.g_num and g.g_num = #{g_num} and o.m_id = #{m_id}

	 
	 </select>
  </mapper>