<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jhta.mybatis.mapper.BasketlistMapper">
  
  <insert id="insert" parameterType="basketlist">
  
    insert into basketlist values(basketlist_seq.nextval,#{bk_totalprice},#{bk_ea},#{bs_num},#{o_num},#{gcs_num})
  
  </insert>
	<update id="update_BkEa" parameterType="bkea">
		update basketlist set bk_ea=#{bk_ea},bk_totalprice=#{bk_totalprice} where gcs_num=#{gcs_num}
	</update>
		<update id="update_Total" parameterType="hashmap">
		update basketlist set bk_ea=#{bk_ea},bk_totalprice=#{bk_totalprice} where gcs_num=#{gcs_num}
	</update>
	<delete id="Delete_CartList" parameterType="hashmap">
		delete from basketlist where bk_num = #{bk_num}
	</delete>
		<delete id="Delete_CartListAll" parameterType="hashmap">
		delete from basketlist
	</delete>
	<select id="SelectAll" parameterType="int" resultType="basketlist">
		select*from basketlist where gcs_num =#{gcs_num}
	</select>
		<select id="SelectBkEa" parameterType="hashmap" resultType="int">
		select bk_ea from basketlist where gcs_num =#{gcs_num}
	</select>
 	<select id="SelectBkPrice" parameterType="hashmap" resultType="int">
		select bk_totalprice from basketlist where gcs_num =#{gcs_num}
	</select>
  </mapper>