<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.jhta.mybatis.mapper.DelinfoMapper">
  
  <insert id="insert" parameterType="delinfo">
  
  insert into delinfo values(delinfo_seq.nextval,#{d_recname},#{d_recphone},#{d_recaddr},#{d_recdetailaddr},#{d_mainaddr},#{m_id})
  
  </insert>
  
  <select id="delinfo" parameterType="int" resultType="delinfo">
  
  select * from delinfo where d_num = #{d_num}
  
  </select>
  
  <select id="d_numfind" parameterType="String" resultType="int">
  
  select d_num from delinfo d where d.m_id =#{m_id} and d.d_mainaddr = 1 
  
  </select>
  
   <select id="d_numfind2" parameterType="String" resultType="int">
  
  select d_num from delinfo d where d.m_id = #{m_id} and d.d_mainaddr = 1
  
  </select>
  
 <select id="memberdelinfo" parameterType="String" resultType="memberdel" >

	select * from delinfo d, members m where d.m_id = #{m_id} and d.d_mainaddr = 1 and  m.m_id = d.m_id

</select>

 <select id="submemberdellist" parameterType="String" resultType="memberdel" >

	select * from delinfo d, members m where d.m_id = #{m_id}  and  m.m_id = d.m_id


</select>

<update id="delinfoupdate1" parameterType="string">
	update delinfo set d_mainaddr=0 where m_id = #{m_id}

</update>

<update id="delinfoupdate2" parameterType="int">
	update delinfo set d_mainaddr=1 where d_num = #{d_num}
</update>


<update id="mainsubdelupdate" parameterType="String">

update delinfo set d_mainaddr = 0 where d_mainaddr =1 and  m_id =#{m_id}

</update>

<update id="submaindelupdate" parameterType="hashmap">

update delinfo set d_mainaddr = 1 where d_num =#{d_num} and  m_id =#{m_id}

</update>

<delete id="delete" parameterType="int">
	delete from delinfo where d_num = #{d_num}
</delete>

<select id="addressCount" parameterType="String" resultType="int">
select NVL(count(*),0) from delinfo where m_id = #{m_id}
</select>

  </mapper>
  