<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.jhta.mybatis.mapper.DelinfoMapper">
  
  <insert id="insert" parameterType="delinfo">
  
  
  insert into delinfo values(delinfo_seq.nextval,#{d_recname},#{d_recphone},#{d_recaddr},#{d_mainaddr},#{m_id})
  

  
  </insert>
  
  <select id="d_numfind" parameterType="String" resultType="int">
  
  select d_num from delinfo d, members m where d.m_id = #{m_id} and d.d_mainaddr = 1
  
  </select>
    <select id="d_numfind2" parameterType="String" resultType="int">
  
  select d_num from delinfo d where d.m_id = #{m_id} and d.d_mainaddr = 1
  
  </select>
  </mapper>
  