<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.jhta.mybatis.mapper.GcsMapper">
  	<insert id="insert" parameterType="gcs">
  		insert into gcs values(gcs_seq.nextval,#{g_num},#{c_subnum},#{sz_ssubnum})
  	</insert>
  
  	<select id="SelectAll" parameterType="int" resultType="gcs">
  		select*from gcs gcs left join goods g on gcs.g_num = g.g_num left join color c  on gcs.c_subnum = c.c_subnum  left join sizes sz  on gcs.sz_ssubnum = sz.sz_ssubnum where g.g_num=#{g_num}
  			
  	</select>
  
  
    <select id="gcslist" resultType="gcs2" parameterType="int">
  
  select g.g_num,s.sz_sizename,c.c_colorname,c.c_colorcode from gcs g,sizes s, color c,goods gs where g.sz_ssubnum = s.sz_ssubnum and g.c_subnum = c.c_subnum and gs.g_num= g.g_num and gs.gc_num = #{gc_num}

  
  	</select>
  </mapper>