<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.jhta.mybatis.mapper.GoodsDetailMapper">
  	<insert id="insert" parameterType="goodsdetail">
  		insert into goodsdetail values(goodsdetail_seq.nextval,#{gd_orgimg},#{gd_saveimg},#{gd_color},#{gd_size},#{g_num})
  	</insert>
  	
  		<select id="selectOne" parameterType="int" resultType="goodsdetail">
  		select*from goodsdetail where g_num =${g_num}
  		</select>
  </mapper>