<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.jhta.mybatis.mapper.GoodsMapper" >
  	
  	<insert id="insertgoods" parameterType="goods">
	  	insert into goods values(goods_seq.nextval,#{g_name},#{g_price},#{g_content},#{g_orgimg},
	  	#{g_saveimg},sysdate,#{g_hit},#{g_ea},#{gc_num})
  	</insert>
  	
  	<insert id="insertcolor" parameterType="goods">
  		insert into color values(color_seq.nextval,#{c_num},#{c_colorname},#{c_colorcode})
  	</insert>
  	
  	<insert id="insertsizes" parameterType="goods">
  		insert into sizes values(size_seq.nextval,#{sz_sizename},#{sz_snum})
  	</insert>
  	
  	
  	
  	
  <select id="goodslist" resultType="goods">
 	select * from goods 
  </select>
  
  <select id="colorlist" resultType="goods">
 	select * from color
  </select>
  
  <select id="sizeslist" resultType="goods">
 	select * from sizes
  </select>
  
  <select id="goodsfind" parameterType="int" resultType="goods">
		select * from goods where g_num=#{g_num}
	</select>
  
  <select id="colorfind" parameterType="int" resultType="goods">
		select * from color where c_subnum=#{c_subnum}
	</select>
	
  <select id="sizesfind" parameterType="int" resultType="goods">
		select * from sizes where sz_ssubnum=#{sz_ssubnum}
  </select>
  
  	
  <delete id="goodsdelete" parameterType="int">
  	delete from goods where g_num=#{g_num}
  </delete>
 
 <delete id="colordelete" parameterType="int">
  	delete from color where c_subnum=#{c_subnum}
 </delete>
 
 <delete id="sizaesdelete" parameterType="int">
  	delete from sizes where sz_ssubnum=#{sz_ssubnum}
 </delete>
 
   <update id="goodsupdate" parameterType="goods">
  	update goods set
  	g_name=#{g_name},
  	g_price=#{g_price},
  	g_content=#{g_content},
  	g_ea=#{g_ea},
  	gc_num=#{gc_num} 
  	<if test="g_orgimg!=null">
  		,g_orgimg=#{g_orgimg}
  		,g_saveimg=#{g_saveimg}
  		,g_detailimg=#{g_detailimg}
  	</if>
  	where g_num=#{g_num}
  </update>
  
  <update id="colorupdate" parameterType="goods">
  	update color set
  	c_num=#{c_num},c_colorname=#{c_colorname},c_colorcode=#{c_colorcode}
  	where c_subnum=#{c_subnum}
  </update>
  
  <update id="sizesupdate" parameterType="goods">
  	update sizes set
  	sz_sizename=#{sz_sizename},sz_snum=#{sz_snum}
  	where sz_ssubnum=#{sz_ssubnum}
  </update>
  
  
 
 <select id="healthygood"  resultType="goods">
 	select *from(
		select *from goods where gc_num=1 order by g_regdate desc) where rownum = 1
 </select>
 <select id="fashiongood"  resultType="goods">
 	select *from(
		select *from goods where gc_num=2 order by g_regdate desc) where rownum = 1
 </select>
  <select id="foodgood"  resultType="goods">
 	select *from(
		select *from goods where gc_num=3 order by g_regdate desc) where rownum = 1
 </select>
  <select id="livegood"  resultType="goods">
 	select *from(
		select *from goods where gc_num=4 order by g_regdate desc) where rownum = 1
 </select>
	
  <select id="healthygoodlist" resultType="goods" parameterType="int">
  
  select * from goods where gc_num= #{gc_num}
  
  </select>

  
  </mapper>