<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.MembersMapper">
		<resultMap type="com.jhta.finalproject.sec.CustomUserDetail" id="userDetail">
			<id property="id" column="id"/>
			<result property="pwd" column="pwd"/>
			<result property="enabled" column="enabled"/>
			<collection property="authList" ofType="com.jhta.finalproject.vo.AuthVo">
				<result property="authority" column="authority"/>
				<result property="id" column="id"/>
			</collection>
		</resultMap>


	<insert id="insert" parameterType="members">
		insert into members values(
		#{m_id},#{m_pwd},#{m_name},#{m_phone},#{m_email},#{m_addr},#{m_birth},1,2000
		)
	</insert>
	
	<select id="list" resultType="members">
		select * from members
	</select>
	<select id="getPwd" resultType="string">
		select m_pwd pwd from members where m_id=#{id} UNION
		select pt_pwd pwd from partners where pt_id=#{id};
	</select>
	
	<select id="find" parameterType="string" resultType="members">
		select * from members where m_id=#{m_id}
	</select>
	
	<delete id="delete" parameterType="string">
		delete from members where m_id = #{m_id} and m_enabled=1
	</delete>
	<update id="update" parameterType="members">
		update members set 
		m_pwd=#{m_pwd},m_name=#{m_name},m_phone=#{m_phone},
		m_email=#{m_email},m_addr=#{m_addr},m_birth=#{m_birth},m_enabled=#{m_enabled},m_points=#{m_points}
		where m_id= #{m_id}
	</update>
	<select id="isMember" parameterType="string" resultType="int">
		select count(*) from members where m_id = #{m_id} and m_enabled = 1
	</select>
	<insert id="insertAuth" parameterType="com.jhta.finalproject.vo.AuthVo">
		insert into authorities values(#{authority},#{id})
	</insert>
	<select id="getAuths" parameterType="string" resultMap="userDetail">
		
		select m_id id,m_pwd pwd,m_enabled enabled ,authority from (
		select m_id,m_pwd,m_enabled from members UNION
		select PT_ID,pt_pwd,pt_enabled from partners) A
		INNER JOIN authorities on authorities.id = A.m_id where id=#{id}
		
	</select>
	<select id="correctIdEmail" parameterType="string" resultType="string">
	select * from(select m_email email from members where m_id=#{id} UNION
select pt_email email from partners where pt_id=#{id}) where rownum=1
	</select>
	<select id="searchId" parameterType="string" resultType="string">
	select * from(select m_id id from members where m_email=#{email} union
	select pt_id id from partners where pt_email=#{email}) where rownum =1
	</select>
	<update id="changePwd" parameterType="hashmap">
	update members set 
		m_pwd=#{pwd} where m_id = #{id}
	</update>
</mapper>