<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.jhta.mybatis.mapper.OrderlistMapper">
  
  <insert id="insert" parameterType="orderlist">
  
    insert into orderlist values(orderlist_seq.nextval,#{ol_totalprice},#{ol_ea},#{o_num},#{gcs_num})
    
  </insert>
	
  <select id="neworder" parameterType="String" resultType="orders">
  
  select * from (
  select aa.*,rownum rnum from 
  ( select * from orders where m_id = #{m_id} order by o_num desc)aa )
  where rnum =1 

  </select>
  
  <select id="neworderlist" parameterType="int" resultType="orderlist">
  
  select * from orderlist where o_num = #{o_num} 
  
  </select>
  
  
  
  </mapper>