<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.jhta.mybatis.mapper.OrdersMapper">
  
  <insert id="insert" parameterType="orders">
  
  insert into orders values(orders_seq.nextval,#{o_process},#{m_id},#{d_num})
  
  </insert>
  
  <select id="geto_num" resultType="int">
  
  select orders_seq.CURRVAL from dual
  
  </select>
  
  <update id="o_proccessupdate" parameterType="int">
  update orders set o_proccess ='완료' where o_num = #{o_num}
  
  </update>
  


  </mapper>