<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jhta.mybatis.mapper.ReservationMapper">

	<insert id="insert" parameterType="com.jhta.finalproject.vo.ReservationVo">
		insert into reservation values(RESERVATION_SEQ.nextval,0,#{r_date},#{m_id},#{pet_num})
	</insert>

</mapper>